@charset "utf-8";

/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*베이직 리스트------------------------------*/
/*더보기 버튼------------------------------*/

#more_button_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.more_button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    /* %로 하면 일그러짐 */
    background: rgba(22, 22, 22);
    /*배경만 투명도 지정_맨 뒤 숫자_!!아주 중요!!*/
    border: none;
    /* border-style: solid;
    border-color: #cacaca;
    background: transparent; */
    font-family: 'GmarketSansLight';
    font-size: 1.125rem;
    /*18px*/
    opacity: 70%;
    cursor: pointer;
}

.web_more a {
    color: rgb(228, 219, 211);
    -webkit-text-stroke-width: 0.5px;
    filter: drop-shadow(0px 0px 2px #413a33);
    /*그림자*/
}


/* 아이패드 프로 --- 가로 너비 1366*/
@media only screen and (orientation: landscape) {
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*베이직 리스트------------------------------*/
    /*더보기 버튼------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*베이직 리스트------------------------------*/
    /*더보기 버튼------------------------------*/
    .more_button {
        width: 130px;
        height: 46px;
        font-size: 1rem;
        /*16px*/
    }
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px) {


    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*베이직 리스트------------------------------*/
    /*더보기 버튼------------------------------*/
    .more_button {
        width: 130px;
        height: 46px;
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*베이직 리스트------------------------------*/
    /*더보기 버튼------------------------------*/
    .more_button {
        width: 110px;
        height: 42px;
        font-size: 0.75rem;
        /*12px*/
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*베이직 리스트------------------------------*/
    /*더보기 버튼------------------------------*/
    .more_button {
        width: 90px;
        height: 38px;
    }
}