@charset "utf-8";

/*07 푸터 섹션--------------------------------------------------*/

.footer {
	height: 150px;
	min-width: 280px;
	padding-top: 15px;
	padding-bottom: 15px;
	letter-spacing: 0.5px;
	/* 자간 */
	/* border-top: 1px solid rgb(230, 230, 230); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(22, 22, 22, 0.85);
	/*배경만 투명도 지정_맨 뒤 숫자_!!아주 중요!!*/
}

.footer p {
	font-family: 'Noto Sans KR';
	font-size: 14px;
	text-align: center;
	color: rgb(194, 176, 159);
	line-height: normal;
}

.footer .phone,
.footer .email {
	text-transform: lowercase;
	font-weight: bold;
}

.phone {
	cursor: text;
}

.email a {
	color: rgb(87, 145, 51);
	cursor: pointer;
}

.phone a {
	color: rgb(87, 145, 51);
	pointer-events: none;
}


/* 아이패드 프로 --- 가로 너비 1366*/
@media only screen and (orientation: landscape) {
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px) {

	/*07 푸터 섹션--------------------------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px) {

	/*07 푸터 섹션--------------------------------------------------*/
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px) {

	/*07 푸터 섹션--------------------------------------------------*/
	.footer p {
		font-size: 12px;
		padding: 0 40px;
	}


	/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
	@media all and (max-width: 480px) {
		@-ms-viewport {
			width: device-width;
		}

		@-o-viewport {
			width: device-width;
		}

		@viewport {
			width: device-width;
		}

		/*07 푸터 섹션--------------------------------------------------*/
		.footer p {
			min-width: 200px;
			padding: 0 40px;
			line-height: 1.5;
		}
	}


	/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
	@media all and (max-width: 280px) {
		@-ms-viewport {
			width: device-width;
		}

		@-o-viewport {
			width: device-width;
		}

		@viewport {
			width: device-width;
		}

		/*07 푸터 섹션--------------------------------------------------*/
	}
}