@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
.mobile_icon_hidden{
    display: none;
}
.mobile_icon{
    display: inline-block;
    flex-direction: column; 
    position: fixed;
    right: 5px;
    bottom: 2%;
    transform: translate(0, -50%);    /*세로 중앙 정렬 바로잡기*/
    z-index: 99999;
}
.mobile_icon li{
    margin-bottom: 15%;
    filter: drop-shadow(0px 0px 2px #929292); /*이미지 그림자*/
}
.mobile_icon li:last-child{
    margin-bottom: 0;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
	
@media all and (max-width: 1280px){
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/

@media all and (max-width: 1024px){
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/

@media all and (max-width: 767px){
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
.mobile_icon_hidden{
    display: block;
}
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/

@media all and (max-width: 480px){
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
.mobile_icon{
	right: 4px;
}
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
	
@media all and (max-width: 280px){
/*08 사이드 아이콘 섹션 (스마트기기용)--------------------------------------------------*/
.mobile_icon{
	right: 3px;
}
.mobile_icon img{
	width: 30px;
}
}
