@charset "utf-8";
/*07 푸터 섹션--------------------------------------------------*/
.footer{
    height: 100px;
    letter-spacing: 0.5px;      /* 자간 */
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
	font-family: 'Noto Sans KR';
    font-size: 0.75rem; /*12px*/
	text-align: center;
    color: #747474;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px){
/*07 푸터 섹션--------------------------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px){
/*07 푸터 섹션--------------------------------------------------*/
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px){
/*07 푸터 섹션--------------------------------------------------*/
.footer p{
	font-size: 0.702247191011236vw;    /*10px*/
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px){
/*07 푸터 섹션--------------------------------------------------*/
.footer p{
    min-width: 200px;
    padding: 0 40px;
	line-height: 1.5;
}
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px){
/*07 푸터 섹션--------------------------------------------------*/
}
}