@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/

/*01 헤더 섹션--------------------------------------------------*/
/*로고바------------------------------*/
/*로고------------------------------*/
/*로고바 아이콘------------------------------*/
/*메뉴바------------------------------*/
.navbar_down {
    position: sticky;
    top: 54px;
    width: 100%;
    min-width: 280px;
    z-index: 9998;
    display: block;


    transition: All 0.9s ease;
    /*기본 브라우저*/
    -webkit-transition: All 0.9s ease;
    /*사파리, 크롬(구글)*/
    -ms-transition: all, 0.9s ease;
    /*ie9 익스플로러 용으로 보통 생략*/
    -moz-transition: All 0.9s ease;
    /*파이어 폭스*/
    -o-transition: All 0.9s ease;
    /*오페라*/


    backdrop-filter: blur(5px);
    /*기본 브라우저*/
    -webkit-backdrop-filter: blur(5px);
    /*사파리, 크롬(구글)*/
    -ms-backdrop-filter: blur(5px);
    /*ie9 익스플로러 용으로 보통 생략*/
    -moz-backdrop-filter: blur(5px);
    /*파이어 폭스*/
    -o-backdrop-filter: blur(5px);
    /*오페라*/


    background: rgba(22, 22, 22, 0.85);
    /*배경만 투명도 지정_맨 뒤 숫자_!!아주 중요!!*/


    box-shadow: 4px 0px 5px
        /*블러*/
        /*-2px그림자 크기 줄이기*/
        rgb(17, 17, 17);
    /* border-top: 1px solid rgb(99, 98, 98); */
    /* border-bottom: 1px solid rgb(99, 98, 98); */

}

/*css 속성*/
.navbar_up {
    top: -54px;
    width: 100%;
    min-width: 280px;
    display: block;
    background: rgba(22, 22, 22, 0.85);
    /*배경만 투명도 지정_맨 뒤 숫자_!!아주 중요!!*/


    transition: All 0.9s ease;
    /*기본 브라우저*/
    -webkit-transition: All 0.9s ease;
    /*사파리, 크롬(구글)*/
    -ms-transition: all, 0.9s ease;
    /*ie9 익스플로러 용으로 보통 생략*/
    -moz-transition: All 0.9s ease;
    /*파이어 폭스*/
    -o-transition: All 0.9s ease;
    /*오페라*/


    backdrop-filter: blur(5px);
    /*기본 브라우저*/
    -webkit-backdrop-filter: blur(5px);
    /*사파리, 크롬(구글)*/
    -ms-backdrop-filter: blur(5px);
    /*ie9 익스플로러 용으로 보통 생략*/
    -moz-backdrop-filter: blur(5px);
    /*파이어 폭스*/
    -o-backdrop-filter: blur(5px);
    /*오페라*/


    box-shadow: 4px 0px 5px
        /*블러*/
        /*-2px그림자 크기 줄이기*/
        rgb(17, 17, 17);
    /* border-top: 1px solid rgb(99, 98, 98); */
    /* border-bottom: 1px solid rgb(99, 98, 98); */
}

.gnb {
    width: 100%;
    max-width: 1440px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb div {
    width: 16.66666666666667%;
    border-right: 1px solid rgb(75, 75, 75);
    /* -webkit-text-stroke-width: 0.1px; /* 텍스트 외곽선 */
    /* -webkit-text-stroke-color: #000000; */
    text-align: center;
    box-sizing: border-box;
    display: block;
}

.gnb div:last-child {
    border-right: none;
}

.menu a {
    color: rgb(207, 194, 183);
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px) {

    /*01 헤더 섹션--------------------------------------------------*/
    /*로고바------------------------------*/
    /*로고------------------------------*/
    /*로고바 아이콘------------------------------*/
    /*메뉴바------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px) {

    /*01 헤더 섹션--------------------------------------------------*/
    /*로고바------------------------------*/
    /*로고------------------------------*/
    /*로고바 아이콘------------------------------*/
    /*메뉴바------------------------------*/
    .navbar_down {
        top: 48px;
    }

    /*css 속성*/
    .navbar_up {
        top: -48px;
    }

    .gnb {
        height: 46px;
    }

    .menu {
        font-size: 0.688rem;
        /* 11px */
    }
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px) {

    /*01 헤더 섹션--------------------------------------------------*/
    /*로고바------------------------------*/
    /*로고------------------------------*/
    /*로고바 아이콘------------------------------*/
    /*메뉴바------------------------------*/
    .navbar_down {
        top: 44px;
    }

    /*css 속성*/
    .navbar_up {
        top: -44px;
    }

    .gnb {
        height: 40px;
    }

    .gnb div {
        /* -webkit-text-stroke-width: 0.1px; /* 텍스트 외곽선 */
    }

    .menu a {
        font-size: 0.625rem;
        /*10px;*/
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px) {

    /*01 헤더 섹션--------------------------------------------------*/
    /*로고바------------------------------*/
    /*로고------------------------------*/
    /*로고바 아이콘------------------------------*/
    /*메뉴바------------------------------*/
    .navbar_down {
        top: 34px;
    }

    /*css 속성*/
    .navbar_up {
        top: -34px;
    }

    .gnb {
        height: 70px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .menu {
        width: 100%;
        height: 35px;
        min-width: 33.33333333333333%;
        /*160px*/
    }

    .menu a {
        line-height: 35px;
    }

    .gnb div:nth-child(3) {
        border-right: none;
    }

    .menu1,
    .menu2,
    .menu3 {
        border-bottom: 1px solid rgb(75, 75, 75);
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px) {

    /*01 헤더 섹션--------------------------------------------------*/
    /*로고바------------------------------*/
    /*로고------------------------------*/
    /*로고바 아이콘------------------------------*/
    /*메뉴바------------------------------*/
    .navbar_down {
        top: 28px;
    }

    /*css 속성*/
    .navbar_up {
        top: -28px;
    }

    .gnb {
        height: 60px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .menu {
        width: 100%;
        height: 30px;
        min-width: 33.33333333333333%;
        /*160px*/
    }

    .menu a {
        line-height: 30px;
    }
}