@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
    margin-left: 10px;
    margin-right: 10px;
	margin-bottom: 50px;
    width: 1420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list_item{
    margin-bottom: 60px; 
    width: 24.47183098591549%; /*347.5px*/
}
.list_item a{
	display: flex;
	flex-direction: column;
}
.img img{
    display: block;
    width: 100%;
}
.text{
    font-size: 0.875rem;    /* 14px */
    line-height: 1.2;
    margin-top: 10px;
	display: inline-block;
}
.text_color{
    color: rosybrown;
    -webkit-text-stroke-color: rosybrown;
}
.text3{
    color: rgb(155, 155, 155);
}
.text1{
    font-size: 1rem;    /* 16px */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #262626;
}
/*더보기 버튼------------------------------*/


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px){

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
    width: 1260px;
}
.list_item{
    margin-bottom: 40px; 
}
.text{
    margin-top: 8px;
}
/*더보기 버튼------------------------------*/
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px){

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
	margin-bottom: 50px;
    width: 97.7%; /*1004px*/
    max-width: 1004px;
}
.list_item{
    margin-bottom: 40px; 
    width: 24.25298804780876%; /*243.5px*/
    max-width: 243.5px;
}
.text{
    font-size: 0.813rem;    /* 13px */
    margin-top: 6px;
}
.text1{
    font-size: 0.875rem;    /* 14px */
    -webkit-text-stroke-width: 0.3px;     /* 텍스트 외곽선 */
}
/*더보기 버튼------------------------------*/
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px){

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
	margin-bottom: 40px;
    width: 97%; /*747px*/
    max-width: 747px;
}
.list_item{
    width: 32%; /*242.6666666666667px*/
    margin-bottom: 30px; 
}
.text{
    font-size: 0.75rem;    /* 12px */
}
.text1{
    font-size: 0.813rem;    /* 13px */
}
/*더보기 버튼------------------------------*/
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px){

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
	margin-bottom: 10px;
    width: 97%; /*470px*/
    max-width: 470px;
    margin-left: 5px;
    margin-right: 5px;
}
.list_item{
    width: 49%; /*232.5px*/
    margin-bottom: 20px; 
}
.text{
    font-size: 0.688rem;    /* 11px */
    line-height: 1.15;
    margin-top: 5px;
}
.text1{
    font-size: 0.688rem;    /* 11px */
    -webkit-text-stroke-width: 0.2px;
}
/*더보기 버튼------------------------------*/
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px){

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container{
    width: 272px;
    margin-left: 4px;
    margin-right: 4px;
}
.list_item{
    width: 134px;
}
.text{
    font-size: 0.625rem;    /* 10px */
}
/*더보기 버튼------------------------------*/
}