@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/

/*03 리스트 섹션--------------------------------------------------*/
/*베이직 타이틀------------------------------*/
/*메인 타이틀*/
/*서브 타이틀*/
/*베이직 리스트------------------------------*/
.list_container {
    margin: auto;
    width: 1420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list_item {
    margin-bottom: 60px;
    width: 24.47183098591549%; /*347.5px*/
}

.list_item a {
    display: flex;
    flex-direction: column;
}

.img img {
    display: block;
    width: 100%;
}

.list_item .text {
    letter-spacing: -1px; /* 자간 */
    word-spacing: 3px; /* 어간 */
    line-height: 1.15; /* 행간 */
    margin-bottom: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

.list_item .text1 {
    font-size: 20px;
    -webkit-text-stroke-width: 0.7px; /* 텍스트 외곽선*/
    margin-top: 10px;
    display: inline-block;
}

.list_item .text2 {
    font-size: 18px;
    color: rgb(71, 126, 34);
    -webkit-text-stroke-width: 0.4px;
}

.list_item .text3 {
    font-size: 16px;
    color: rgb(155, 121, 89);
    -webkit-text-stroke-width: 0.4px;
}

.list_item .text4 {
    font-size: 16px;
    color: rgb(75, 73, 72);
    -webkit-text-stroke-width: 0.1px;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
@media all and (max-width: 1280px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*메인 타이틀*/
    /*서브 타이틀*/
    /*베이직 리스트------------------------------*/
    .list_container {
        width: 1260px;
    }

    .list_item {
        margin-bottom: 40px;
    }

    .list_item .text1 {
        font-size: 18px;
    }
    
    .list_item .text2 {
        font-size: 16px;
    }
    
    .list_item .text3 {
        font-size: 14px;
    }
    
    .list_item .text4 {
        font-size: 14px;
    }
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
@media all and (max-width: 1024px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*메인 타이틀*/
    /*서브 타이틀*/
    /*베이직 리스트------------------------------*/
    .list_container {
        margin-bottom: 50px;
        width: 97.7%; /*1004px*/
        max-width: 1004px;
    }

    .list_item {
        margin-bottom: 40px;
        width: 24.25298804780876%; /*243.5px*/
        max-width: 243.5px;
    }

    .list_item .text {
        margin-bottom: 6px;
        line-height: 1.12; /* 행간 */
        margin-left: 10px;
        margin-right: 10px;
    }

    .list_item .text1 {
        font-size: 16px;
        -webkit-text-stroke-width: 0.5px; /* 텍스트 외곽선*/
        margin-top: 10px;
    }

    .list_item .text2 {
        font-size: 14px;
    }

    .list_item .text3 {
        font-size: 14px;
    }

    .list_item .text4 {
        font-size: 13px;
    }
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*메인 타이틀*/
    /*서브 타이틀*/
    /*베이직 리스트------------------------------*/
    .list_container {
        margin-bottom: 40px;
        width: 97%; /*747px*/
        max-width: 747px;
    }

    .list_item {
        width: 32%; /*242.6666666666667px*/
        margin-bottom: 15px;
    }

    .list_item .text {
        line-height: 1.1;
        margin-right: 5px;
        margin-bottom: 6px;
    }

    .list_item .text1 {
        font-size: 14px; 
        -webkit-text-stroke-width: 0.4px; /* 텍스트 외곽선*/
        margin-top: 10px;
    }

    .list_item .text2 {
        font-size: 12px;
        -webkit-text-stroke-width: 0.3px;
    }

    .list_item .text3 {
        font-size: 12px;
        -webkit-text-stroke-width: 0.3px;
    }

    .list_item .text4 {
        font-size: 12px;
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*메인 타이틀*/
    /*서브 타이틀*/
    /*베이직 리스트------------------------------*/
    .list_container {
        margin-bottom: 10px;
        width: 97%; /*470px*/
        max-width: 470px;
    }

    .list_item {
        width: 49%; /*232.5px*/
        margin-bottom: 20px;
    }

    .list_item .text {
        margin-left: 5px;
        margin-right: 5px;
    }

    .list_item .text1 {
        font-size: 15px; 
        -webkit-text-stroke-width: 0.4px; /* 텍스트 외곽선*/
        margin-top: 10px;
    }

    .list_item .text2 {
        font-size: 13px;
        -webkit-text-stroke-width: 0.3px;
    }

    .list_item .text3 {
        font-size: 12px;
        -webkit-text-stroke-width: 0.3px;
    }

    .list_item .text4 {
        font-size: 12px;
        -webkit-text-stroke-width: 0.2px;
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px) {

    /*03 리스트 섹션--------------------------------------------------*/
    /*베이직 타이틀------------------------------*/
    /*메인 타이틀*/
    /*서브 타이틀*/
    /*베이직 리스트------------------------------*/
    .list_container {
        width: 272px;
        margin-bottom: 5px;
    }

    .list_item .text {
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
}