@charset utf-8;



/* 메인 배너 커서 손가락 표시 */
#openModalPop {
    cursor: pointer;
}



/* 팝업 오픈 시 배경 스크롤 방지 */
html,
body,
#wrapper {
    height: 100%;
    overflow: auto;
}

html {
    overflow: hidden !important
}



/* 레이어창 배경 참고 링크 - https://bbo-blog.tistory.com/29 */
#banner_online {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 999999;
    position: fixed;
    display: none;
    min-width: 280px;
    overflow: hidden;
}

/* 레이어창 전체 워랩 (뷰포트 창 가운데 정렬을 위한) */
.aboutme {
    display: flex;
    position: relative;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    margin: auto;

    width: 100vw;
    height: 100vh;

    min-width: 280px;
}

/* 자기소개서 이미지 감싸고 스크롤바 지우기*/
.pop_content {
    position: relative;
    max-height: 800px;
    margin: 100px;
    border-radius: 40px;

    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    transform: all, 0.9s ease;
    -ms-transform: all, 0.9s ease;
    /*ie9 익스플로러 용으로 보통 생략*/
    -moz-transform: all, 0.9s ease;
    /*파이어 폭스*/
    -webkit-transform: all, 0.9s ease;
    /*사파리, 크롬(구글)*/
    -o-transform: all, 0.9s ease;
    /*오페라*/
}


::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

/* 자기소개서 이미지 반응형 및 라운딩 */
.pop_content img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 240px;
    max-width: 1000px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* 자기소개서 스크롤 안내 */
.scroll_arrow {
    position: absolute;
    top: 80px;
    right: 21px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll_arrow,
.scroll_arrow li {
    width: 14px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
}

.scroll_arrow li:nth-child(1) {
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* 자기소개서 스크롤 플리즈 문구 안내 */
#rotation {
    white-space: nowrap;
    transform: rotate(-90deg);
    color: #fff;
    font-family: 돋움;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1;
}

/* 자기소개서 스크롤 플리즈 문구 반짝임 */
@keyframes blink {
    0% {
        opacity: 0.9;
    }

    25% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.65;
    }

    75% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.65;
    }
}

@keyframes blink-1 {
    0% {
        opacity: 0.65;
    }

    25% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.9;
    }

    75% {
        opacity: 0.65;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 0.4;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.9;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.65;
    }
}

@keyframes blink-3 {
    0% {
        opacity: 0.65;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.65;
    }

    75% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

.scroll_arrow li:nth-child(1) {
    animation: blink 1s infinite;
    /* 1초 간격으로 무한 반복 - 출처: https://www.designkits.co.kr/blog/web-css/animation/TEXT-EFFECT-INFINITE */
}

.scroll_arrow li:nth-child(2) {
    animation: blink-1 1s infinite;
    /* 1초 간격으로 무한 반복 */
}

.scroll_arrow li:nth-child(3) {
    animation: blink-2 1s infinite;
    /* 1초 간격으로 무한 반복 */
}

.scroll_arrow li:nth-child(4) {
    animation: blink-3 1s infinite;
    /* 1초 간격으로 무한 반복 */
}



/* 자기소개서 닫기 버튼 */
#close_button {
    position: absolute;
    right: 44px;
    bottom: 54px;
    font-size: 40px;

    /* 참고 링크 - https://ctrlcccv.github.io/code/2023-10-30-scroll-show/ */
}

.fixed {
    color: #fff;

    position: fixed;
    opacity: 0;
    transition: all 0.5s;
}

/* 자기소개서 닫기 버튼 나타나기 */
.fixed.active {
    opacity: 1;
    transform: translate(0, 0);
}





/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	*/
@media all and (max-width: 1280px) {
    .pop_content {
        position: relative;
        max-height: 800px;
    }

    .pop_content,
    .pop_content img {
        border-radius: 3.5938vw;
        /*46px*/
    }





    .scroll_arrow {
        top: 5.46875; /* 70px; */
        right: 1.640625vw; /* 21px; */
    }

    .scroll_arrow,
    .scroll_arrow li {
        width: 1.0938vw;
        /* 14px; */
        font-size: 1.0938vw;
        /* 14px; */
    }

    .scroll_arrow li:nth-child(1) {
        height: 9.375vw;
        /* 120px; */
        margin-bottom: 0.78125vw;
        /* 10px; */
    }

    /* 자기소개서 스크롤 플리즈 문구 안내 */
    #rotation {
        font-size: 0.9375vw;
        /* 12px; */
        letter-spacing: 0.15625vw;
        /* 2px; */
    }
}





/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-851px (반응형)
	*/
@media all and (max-width: 1024px) {

    .pop_content {
        max-height: 78.1250vw;
        /* 800px; */
        margin: 9.7656vw;
        /* 120px, 100px; */
    }

    .pop_content,
    .pop_content img {
        border-radius: 3.9063vw;
        /*40px*/
    }

    #close_button {
        right: 4.8828vw;
        /*50px*/
        bottom: 5.8594vw;
        /*60px*/
    }

    #close_button .fixed {
        font-size: 3.9063vw;
        /*40px*/
    }





    .scroll_arrow {
        top: 6.4453125vw; /* 66px; */
        right: 1.5625vw; /* 16px; */
    }

    .scroll_arrow,
    .scroll_arrow li {
        width: 1.3671875vw;
        /* 14px; */
        font-size: 1.3671875vw;
        /* 14px; */
    }

    .scroll_arrow li:nth-child(1) {
        height: 11.71875vw;
        /* 120px; */
        margin-bottom: 0.9765625vw;
        /* 10px; */
    }

    /* 자기소개서 스크롤 플리즈 문구 안내 */
    #rotation {
        font-size: 1.171875vw;
        /* 12px; */
        letter-spacing: 0.1953125vw;
        /* 2px; */
    }
}





/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	850-741px (반응형)
	*/
@media all and (max-width: 850px) {

    .pop_content {
        max-height: 82.3529vw;
        /* 700px; */
        margin: 5.8824vw;
        /* 50px; */
    }





    .scroll_arrow {
        top: 7.764705882352942vw; /* 66px; */
        right: 1.647058823529412vw; /* 14px; */
    }

    .scroll_arrow,
    .scroll_arrow li {
        width: 1.647058823529412vw;
        /* 14px; */
        font-size: 1.647058823529412vw;
        /* 14px; */
        line-height: 1;
    }

    .scroll_arrow li:nth-child(1) {
        height: 14.117647058823529vw;
        /* 120px; */
        margin-bottom: 0.7058823529411765vw;
        /* 6px; */
    }

    /* 자기소개서 스크롤 플리즈 문구 안내 */
    #rotation {
        font-size: 1.411764705882353vw;
        /* 12px; */
        letter-spacing: 0.2352941176470588vw;
        /* 2px; */
    }
}





/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	740-481px (반응형)
	*/
@media all and (max-width: 740px) {

    .pop_content {
        max-height: 81.0811vw;
        /* 600px; */
        margin: 5.4054vw;
        /* 40px; */
    }

    .pop_content,
    .pop_content img {
        border-radius: 4.6936vw;
        /*36px*/
    }


    #close_button {
        right: 5.8670vw;
        /*45px*/
        bottom: 6.5189vw;
        /*50px*/
    }

    #close_button .fixed {
        font-size: 3.9063vw;
        /*40px*/
    }





    .scroll_arrow {
        top: 7.297297297297297vw; /* 54px; */
        right: 1.6216216216216217vw; /* 12px; */
    }

    .scroll_arrow,
    .scroll_arrow li {
        width: 1.891891891891892vw;
        /* 14px; */
        font-size: 1.891891891891892vw;
        /* 14px; */
    }

    .scroll_arrow li:nth-child(1) {
        height: 16.216216216216218vw;
        /* 120px; */
        margin-bottom: 0.8108108108108109vw;
        /* 6px; */
    }

    /* 자기소개서 스크롤 플리즈 문구 안내 */
    #rotation {
        font-size: 1.6216216216216217vw;
        /* 12px; */
        letter-spacing: 0.2702702702702703vw;
        /* 2px; */
    }
}





/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	*/

@media all and (max-width: 480px) {

    .pop_content {
        max-height: 83.3333vw;
        /* 400px; */
        margin: 6.2500vw;
        /* 30px; */
    }

    .pop_content,
    .pop_content img {
        border-radius: 6.2500vw;
        /*30px*/
    }


    #close_button,
    #close_button1 {
        right: 6.2500vw;
        /*30px*/
        bottom: 7.2917vw;
        /*35px*/
    }





    .scroll_arrow {
        top: 6.666666666666667vw; /* 32px; */
        right: 0.8333333333333334vw; /* 4px; */
    }

    .scroll_arrow li:nth-child(1) {
        margin-bottom: 0.8333333333333334vw;
        /* 4px; */
    }
}





/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/

@media all and (max-width: 280px) {
    .pop_content {
        max-height: 230px;
        margin: 20px 20px;
    }

    .pop_content,
    .pop_content img {
        border-radius: 7.1429vw;
        /*20px*/
    }


    #close_button,
    #close_button1 {
        right: 7.1429vw;
        /*20px*/
        bottom: 8.9286vw;
        /*25px*/
    }





    .scroll_arrow {
        top: 18px;
        right: 4px;
    }

    .scroll_arrow li:nth-child(1) {
        margin-bottom: 4px;
    }
}