@charset "utf-8";

#detail_mutua {
    font-size: 24px;
    letter-spacing: -0.7px;
    /* 자간 */
    -webkit-text-stroke-width: 0.7px;
    /* 텍스트 외곽선 */
    color: rgb(155, 121, 89);
    -webkit-text-stroke-color: rgb(155, 121, 89);
}

#detail_title {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    /* 텍스트 외곽선 */
    -webkit-text-stroke-color: rgb(0, 0, 0);
    letter-spacing: -3px;
    /* 자간 */
}

.work .line {
    margin-bottom: 20px;
}

#history1 {
    font-size: 24px;
    color: rgb(71, 126, 34);
    -webkit-text-stroke-width: 0.7px;
    /* 텍스트 외곽선 */
    -webkit-text-stroke-color: rgb(71, 126, 34);
    letter-spacing: -0.7px;
    /* 자간 */
    margin-bottom: 16px;
}

#history2 {
    font-size: 20px;
    color: rgb(75, 73, 72);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(75, 73, 72);
    letter-spacing: -0.05px;
    /* 자간 */
}





#detail_v_mutua {
    font-size: 30px;
    letter-spacing: -0.7px;
    /* 자간 */
    -webkit-text-stroke-width: 0.7px;
    /* 텍스트 외곽선 */
    color: rgb(155, 121, 89);
    -webkit-text-stroke-color: rgb(155, 121, 89);
}

#detail_v_title {
    font-size: 36px;
    -webkit-text-stroke-width: 1px;
    /* 텍스트 외곽선 */
    -webkit-text-stroke-color: rgb(0, 0, 0);
    letter-spacing: -3px;
    /* 자간 */
}

#history1_v {
    font-size: 30px;
    color: rgb(71, 126, 34);
    -webkit-text-stroke-width: 0.7px;
    /* 텍스트 외곽선 */
    -webkit-text-stroke-color: rgb(71, 126, 34);
    letter-spacing: -0.7px;
    /* 자간 */
    margin-bottom: 16px;
}

#history2_v {
    font-size: 24px;
    color: rgb(75, 73, 72);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(75, 73, 72);
    letter-spacing: -0.05px;
    /* 자간 */
}

#history3_v {
    font-size: 20px;
    color: rgb(75, 73, 72);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(75, 73, 72);
    letter-spacing: -0.05px;
    /* 자간 */
}





@media all and (max-width: 1280px) {

    #detail_mutua {
        font-size: 24px;
    }

    #detail_title {
        font-size: 36px;
    }

    #history1 {
        font-size: 24px;
    }

    #history2 {
        font-size: 20px;
    }
}

/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 1024px) {

    #detail_mutua {
        font-size: 2.3438vw;
        /* 24px */
    }

    #detail_title {
        font-size: 3.3203vw;
        /* 34px */
    }

    #history1 {
        font-size: 2.3438vw;
        /* 24px */
    }

    #history2 {
        font-size: 1.9531vw;
        /* 20px */
    }





    #detail_v_mutua {
        font-size: 2.7344vw;
        /* 28px */
        -webkit-text-stroke-width: 0.0684vw;
        /* 0.7px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0684vw;
        /* 0.7px; */
    }

    #detail_v_title {
        font-size: 3.3203vw;
        /* 34px */
        -webkit-text-stroke-width: 0.0977vw;
        /* 1px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.2930vw;
        /* 3px; */
        /* 자간 */
    }

    #history1_v {
        font-size: 2.7344vw;
        /* 28px */
        -webkit-text-stroke-width: 0.0684vw;
        /* 0.7px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0684vw;
        /* 0.7px; */
        /* 자간 */
    }

    #history2_v {
        font-size: 1.9531vw;
        /* 20px */
        -webkit-text-stroke-width: 0.0293vw;
        /* 0.3px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0029vw;
        /* 0.05px; */
        /* 자간 */
    }

    #history3_v {
        font-size: 1.9531vw;
        /* 20px */
        -webkit-text-stroke-width: 0.0293vw;
        /* 0.3px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0029vw;
        /* 0.05px; */
        /* 자간 */
    }
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
@media all and (max-width: 767px) {

    #detail_mutua {
        font-size: 4.9544vw;
        /* 38px */
        margin: 0 1.9557vw;
        /* 15px */
        -webkit-text-stroke-width: 0.5px;
        /* 텍스트 외곽선 */
    }

    #detail_title {
        font-size: 5.7366vw;
        /* 44px */
        margin: 2.3468vw;
        /* 18px */
    }

    .work .line {
        margin-bottom: 5.2151vw;
        /* 40px */
        -webkit-text-stroke-width: 0.5px;
        /* 텍스트 외곽선 */
    }

    #history1 {
        font-size: 4.9544vw;
        /* 38px */
        margin: 2.6076vw;
        /* 20px */
    }

    #history2 {
        font-size: 4.1721vw;
        /* 32px */
        margin: 2.3468vw;
        /* 18px */
    }





    #detail_v_mutua {
        font-size: 3.6506vw;
        /* 28px */
        -webkit-text-stroke-width: 0.0913vw;
        /* 0.7px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0913vw;
        /* 0.7px; */
    }

    #detail_v_title {
        font-size: 4.4329vw;
        /* 34px */
        -webkit-text-stroke-width: 0.1304vw;
        /* 1px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.2930vw;
        /* 3px; */
        /* 자간 */
    }

    #history1_v {
        font-size: 3.6506vw;
        /* 28px */
        -webkit-text-stroke-width: 0.0913vw;
        /* 0.7px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0913vw;
        /* 0.7px; */
        /* 자간 */
    }

    #history2_v {
        font-size: 3.1291vw;
        /* 24px */
        -webkit-text-stroke-width: 0.0391vw;
        /* 0.3px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0065vw;
        /* 0.05px; */
        /* 자간 */
    }

    #history3_v {
        font-size: 3.1291vw;
        /* 24px */
        -webkit-text-stroke-width: 0.0391vw;
        /* 0.3px; */
        /* 텍스트 외곽선 */
        letter-spacing: -0.0065vw;
        /* 0.05px; */
        /* 자간 */
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
@media all and (max-width: 480px) {

    #detail_mutua {
        font-size: 5vw;
        /* 24px */
        -webkit-text-stroke-width: 0.4px;
    }

    #detail_title {
        font-size: 5.8333vw;
        /* 28px */
        -webkit-text-stroke-width: 0.6px;
    }

    .work .line {
        margin-bottom: 5.8333vw;
        /* 28px */
    }

    #history1 {
        font-size: 5vw;
        /* 24px */
        -webkit-text-stroke-width: 0.4px;
    }

    #history2 {
        font-size: 4.1667vw;
        /* 20px */
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
        280px (반응형)
        리스트 2개 씩
        */
@media all and (max-width: 280px) {

    #detail_mutua {
        font-size: 14px;
    }

    #detail_title {
        font-size: 16px;
    }

    .work .line {
        margin-bottom: 16px;
    }

    #history1 {
        font-size: 14px;
    }

    #history2 {
        font-size: 12px;
    }





    #detail_v_mutua {
        font-size: 12px;
        -webkit-text-stroke-width: 0.4px;
        /* 텍스트 외곽선 */
    }

    #detail_v_title {
        font-size: 14px;
        -webkit-text-stroke-width: 0.6px;
        /* 텍스트 외곽선 */
    }

    #history1_v {
        font-size: 12px;
        -webkit-text-stroke-width: 0.4px;
        /* 텍스트 외곽선 */
    }

    #history2_v {
        font-size: 11px;
        -webkit-text-stroke-width: 0.2px;
        /* 텍스트 외곽선 */
    }

    #history3_v {
        font-size: 11px;
        -webkit-text-stroke-width: 0.05px;
        /* 텍스트 외곽선 */
    }
}