@charset utf-8;

#popup_bg{
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 999999;
    display: none;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    min-width: 280px;
}
.popup_wrap{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 20px;
    min-width: 180px;
    max-width: 400px;

    transform: All 0.9s ease;
    -webkit-transition: All 0.9s ease;
    -moz-transform: All 0.9s ease;
    -o-transition: All 0.9s ease;
}
#popup img{
    display: block;
    border-radius: 30px;
    box-sizing: border-box;
}
.close, .today_close{
    position: absolute;
    cursor: pointer;
}
.close{
    top: 7px;
    right: 7px;
}
.x{
    width: 1.625rem; /*26px*/
    height: 1.625rem; /*26px*/
    border-radius: 50%;
    border-style: none;
    background-color: #9a9898;
    color: #fff;
    font-size: 1.125rem; /*18px*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.today_close{
    bottom: 6px;
    right: 50%;
    transform: translateX(50%);
    font-size: 0.75rem; /*12px*/
    font-weight: 700;
}
.close_x{
    font-size: 0.75rem; /*12px*/
    width: 20px;
    height: 20px;
    background-color: #9a9898;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	*/
@media all and (max-width: 1280px){
}

.popup_wrap {
    max-width: 350px;
}

/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	*/
@media all and (max-width: 1024px){
    .popup_wrap{
        max-width: 300px;
    }
    .x{
        font-size: 1rem; /*16px*/
        top: 6px;
    }
    .today_close{
        bottom: 0.9%;
    }
    .close_x{
        font-size: 0.688rem; /*11px*/
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*18px*/
    }
}

/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	*/
@media all and (max-width: 767px){
    .popup_wrap{
    }
    .x{
        width: 1.5rem; /*24px*/
        height: 1.5rem; /*24px*/
        font-size: 0.875rem; /*14px*/
    }
    .today_close{
        bottom: 1.2%;
        font-size: 0.688rem; /*11px*/
    }
    .close_x{
        font-size: 0.688rem; /*11px*/
        width: 1.125rem; /*18px*/
        height: 1.125rem; /*18px*/
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	*/

@media all and (max-width: 480px){
    .popup_wrap{
        border-radius: 15px;
        max-width: 250px;
    }
    .x{
        top: 6px;
        font-size: 0.75rem; /*12px*/
        width: 1.25rem; /*20px*/
        height: 1.25rem; /*20px*/
    }
    .today_close{
        bottom: 0.7%;
        font-size: 0.563rem; /*9px*/
    }
    .close_x{
        font-size: 0.625rem; /*10px*/
        width: 1rem; /*14px*/
        height: 1rem; /*14px*/
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
	
@media all and (max-width: 280px){
    .popup_wrap{
        max-width: 180px;
    }
    .x{
        top: 5px;
        width: 1rem; /*14px*/
        height: 1rem; /*14px*/
        font-size: 0.625rem; /*10px*/
    }
    .today_close{
        font-size: 0.438rem; /*6px*/
        bottom: 0.5%;
    }
    .close_x{
        font-size: 0.5rem; /*7px*/
        width: 0.781rem; /*12.5px*/
        height: 0.781rem; /*12.5px*/
    }
}