@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/
.title_all{
    width: 100%;
    min-width: 280px;
    height: 300px;
    font-size: 0.875rem; /*14px*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_title{
    font-family: 'GmarketSansBold';
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
    @media all and (max-width: 1280px){
    }


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/
    @media all and (max-width: 1024px){
    .title_all{
    height: 280px;
    font-size: 0.813rem; /*13px*/
    }
    }


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/
    @media all and (max-width: 767px){
    .title_all{
    height: 240px;
    font-size: 0.75rem; /*12px*/
    }
    }


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/
    @media all and (max-width: 480px){
    .title_all{
    height: 200px;
    font-size: 0.688rem; /*11px*/
    }
    }


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (고정)
	*/
    @media all and (max-width: 280px){
    .title_all{
    height: 160px;
    font-size: 0.625rem; /*10px*/
    }
    }
