@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	*/
.line1{
    width: 1200px;
}
.page img{
    width: auto;
    height: auto;
    margin-bottom: 50px;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	*/
@media all and (max-width: 1280px){
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	*/
@media all and (max-width: 1024px){
    .line1{
        width: 100%;
    }
    .page img{
        margin-bottom: 40px;
    }
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	*/
@media all and (max-width: 767px){
    .page img{
        margin-bottom: 30px;
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	*/
@media all and (max-width: 480px){
    .page img{
        margin-bottom: 20px;
    }
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
@media all and (max-width: 280px){
}