.bg05 {
    /* 페이지 5 배경 이미지 */
    background-image: url('https://github.com/loy-502/loyhome2/blob/main/img/%eb%ac%b4%eb%b9%84%ec%8a%a4%ed%83%80/page05-1.png?raw=true');
}



/* 페이지5 제품 구성 정렬 */
.cb,
.ps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
