@charset "utf-8";
/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
    */

button{
    font-family: 'GmarketSansLight';
    font-size: 2.5rem; /*40px*/
    width: 12.5rem; /*200px;*/
    height: 5rem;    /*80px;*/
    border-radius: 100px;
    border: 1px;
    border-style: solid;
    border-color: #fff;
    color: #fff;
    text-shadow: 0px 0px 5px/*블러*/ /*-2px그림자 크기 줄이기*/ rgb(81, 81, 81);
    box-shadow: 0px 0px 10px/*블러*/ /*-2px그림자 크기 줄이기*/ rgb(175, 175, 175);
    background: transparent;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    -o-backdrop-filter: blur(3px);
    position: absolute;
    right: 50%;
    bottom: 3%;
    transform: translate(50%, 0);
    cursor: pointer;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	*/
	
    @media all and (max-width: 1280px){
    }
    
    
    /* 태블릿CSS----------------------------------------------------------------------------------------------------
        1024-768px (반응형)
        */
    
    @media all and (max-width: 1024px){
        button{
            font-size: 5.408328826392645vw; /*100px*/
            width: 32.449972958355865vw; /*600px;*/
            height: 10.81665765278529vw;    /*200px;*/
        }
    }
    
    
    /* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
        767-481px (반응형)
        */
    
    @media all and (max-width: 767px){
    }
    
    
    /* 모바일CSS----------------------------------------------------------------------------------------------------
        480-281px (반응형)
        */
    
    @media all and (max-width: 480px){
    }
    
    
    /* 모바일CSS----------------------------------------------------------------------------------------------------
        280px (min-withd 280px 고정)
        */
        
    @media all and (max-width: 280px){
        button{
            font-size: 0.75rem; /*12px*/
            width: 90px;
            height: 30px;
        }
    }
