@charset "utf-8";

/* 데스크탑CSS----------------------------------------------------------------------------------------------------
	1440-1281px (브라우저)
	배너 공간 (1440px)
	리스트 1줄 = 4개
	*/
.space{
    height: 250px;
}
.page{
    text-align: center;
}
.page img{
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
p{
	font-family: 'GmarketSansBold';
	font-size: 1.875rem; /*30px*/
	line-height: 3;
}


/* 데스크탑/노트북CSS----------------------------------------------------------------------------------------------------
	1280-1025px (브라우저)
	배너 공간 (1280px)
	*/
	
@media all and (max-width: 1280px){
}


/* 태블릿CSS----------------------------------------------------------------------------------------------------
	1024-768px (반응형)
	메인 배너 / 서브 배너 분리
	*/

@media all and (max-width: 1024px){
	.page img{
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
	.space{
		height: 200px;
	}
	p{
		font-size: 1.75rem; /*28px*/
		line-height: 2.5;
	}
}


/* 태블릿/모바일_가로CSS----------------------------------------------------------------------------------------------------
	767-481px (반응형)
	리스트 1줄 = 3개
	*/

@media all and (max-width: 767px){
	.space{
		height: 150px;
	}
	p{
		font-size: 1.625rem; /*26px*/
		line-height: 2;
	}
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	480-281px (반응형)
	리스트 2개 씩
	*/

@media all and (max-width: 480px){
	.space{
		height: 100px;
	}
	p{
		font-size: 1.5rem; /*24px*/
		line-height: 1.5;
	}
}


/* 모바일CSS----------------------------------------------------------------------------------------------------
	280px (min-withd 280px 고정)
	*/
	
@media all and (max-width: 280px){
	.space{
		height: 70px;
	}
	p{
		font-size: 1.25rem; /*20px*/
		line-height: 1.5;
	}
}